body{
    background-color:hsl(244, 79%, 74%);
    background-image:url("/img/inicio1.jpg");
    
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
.contenedor{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    margin-top: -100px;
    border-radius: 0px 0px  300px 0px;
    width: 500px;
    height: 719px  ;
    padding-left: 5px;
    background: linear-gradient(to right, rgb(77, 77, 234), rgb(137, 211, 227));
    opacity: 0.8;
    
    

}
    .elementos{width: 50%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 270%;        
    color: aliceblue;
    
    }
    .imagen{
        width: 90%;
        filter: brightness(1.1);
        mix-blend-mode: multiply;
        


    }
    a{
        text-decoration: none;
        color: #eae1e1;
    }
    .medico {
        
        width: 60%;
        border-radius: 50%;
        
    }
    
    .paciente {
        
        width: 60%;
        border-radius: 50%;
        
    }
    header{

        margin: 0px auto;
        display:flex;
        flex-direction: row;
        width: 100%;
        font-style: italic;
        padding-right: 10%;;
        padding-left: 70%;
        align-items: right;
        
        
        

        }
    button{
        background: linear-gradient(to right, rgb(77, 77, 234), rgb(137, 211, 227));
        border-radius: 10px;
        border-color: lightblue;
        margin-inline: 5px;
        width: 200px;
        height: 60px;
        padding-right: 10%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 150%;

    }
    .ventana
    {
        margin: 0;
      background: linear-gradient(to right, rgb(77, 77, 234), rgb(137, 211, 227));
        margin: 0;
      align-items: center;
      width: 30%;
      color:rgb(239, 231, 231);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 200%;
      text-align: center;
      text-decoration: none;
      padding: 33px;
      min-height: 50px;
      border-radius: 20px;
      position: absolute;
      left: 34%;
      top: 35%;
      display: none;
    
    }
    
    
    .cerrar {
      float: right;
      color: #eae1e1;
      line-height: 17px;
      text-decoration: none;
      padding: 0px 14px;
      font-family: Arial;
      border-radius: 100px;
      border-color: #eae1e1;
      box-shadow: white;
      font-size: 18px;
      }
      #ventana .cerrar:hover {
      background: #ff6868;
      color: white;
      text-decoration: none;
      text-shadow: -1px -1px red;
      border-bottom: 1px solid red;
      border-left: 1px solid red;
      }
      .medicor,.pacienter
      
      {
         margin-top: 10%;
        background: rgb(42, 94, 140);
        color: black;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        border-color: lightblue;
        margin-inline: 5px;
        width: 50%;
        font-size: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       }